*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
}

.contact{
    max-width: 350px;
    min-height: 500px;
    margin: auto;
    padding: 40px 30px 30px 30px;
    background-color:rgb(199, 198, 198);
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    background: #000;
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact{
    margin-top: 60px;
}

.photo {
    width: 100px;
    margin: auto;
    
}

.photo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #746b6b, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7a6a6, -8px -8px 15px #fff;
}

.contact .text1 {
    font-weight: 400px;
    font-family: 'Special Elite', system-ui;
    font-size: 30px;
}

.gym{
    color: #adacac;
    animation-name: gym;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes gym{
    0%{
        transform: translateY(4px);
    }
    25%{
        transform: translateY(-4px);
    }
    50%{
        transform: translateY(4px);
    }
    75%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(4px);
    }
}

.contact .input-control1 {
    border-radius: 30px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.contact .input-control2{
    border-radius: 30px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    
}

input {
    width: 80%;
    color: #fdfcfc;
    height: 50px;
    background:none;
    border: none;
    outline: none;
    padding: 10px 15px 10px 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.5px;
    border: 1px solid rgb(42, 42, 42);
}

.button:hover {
    background-color:rgb(199, 198, 197);
    color: rgb(88, 20, 20);
}

a {
    text-decoration: none;
    color:rgb(45, 45, 245);
    text-shadow: 2px 2px 5px #341734;
}

a:hover {
    text-shadow: 3px 3px 3px ;
    color: white;
}

span{
    color: white;
    text-shadow: 2px 2px 3px white;
}
/* forget */
.contact2{
    background-color: #020202;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    margin: auto;
    margin-block: 100px;
    padding: 20px;
    box-shadow: -5px -5px 20px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.contact2 i{
    font-size: 50px;
}